# For debugging
ipython
ipdb
jupyter

# ML related utilities
torchmetrics
transformers
datasets

# stupid bug in default version
charset_normalizer==3.1.0

# simulation logistics
hydra-core==1.1
dill==0.3.6
tqdm
git+https://github.com/IGITUGraz/SimManager.git@v0.9.0#egg=simmanager
git+https://github.com/IGITUGraz/loggingext.git@v0.3.1#egg=loggingext
